body{
margin:0;
font-family:Arial;
background:#f7f7f7;
padding-bottom:100px;
}

.header{
background:black;
color:white;
display:flex;
align-items:center;
gap:10px;
padding:15px;
}

.header img{
width:60px;
border-radius:50%;
}

.grid{
padding:15px;
display:flex;
flex-direction:column;
gap:10px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
cursor:pointer;
}

.price{
color:#2e7d32;
font-weight:bold;
}

.cart-bar{
position:fixed;
bottom:0;
width:100%;
background:white;
padding:15px;
display:none;
}

.cart-bar button{
width:100%;
background:#25D366;
color:white;
border:none;
padding:15px;
border-radius:8px;
display:flex;
justify-content:space-between;
font-weight:bold;
}

.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
display:none;
justify-content:center;
align-items:flex-end;
}

.modal-content{
background:white;
width:100%;
max-width:500px;
padding:20px;
border-radius:20px 20px 0 0;
}

input,select{
width:100%;
padding:10px;
margin-top:8px;
border-radius:6px;
border:1px solid #ccc;
}

.cupom{
display:flex;
gap:5px;
margin-top:10px;
}

.btn-finalizar{
background:#25D366;
color:white;
width:100%;
padding:15px;
border:none;
border-radius:10px;
margin-top:10px;
font-weight:bold;
}

.whats{
position:fixed;
right:20px;
bottom:120px;
background:#25D366;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
color:white;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}