body{

font-family:Arial;
margin:0;
background:#f4f4f4;

}

.topo{

background:#ea1d2c;
color:white;
padding:15px;

}

#buscar{

width:100%;
padding:10px;
border-radius:8px;
border:none;
margin-top:10px;

}

.categorias{

display:flex;
overflow-x:auto;
background:white;
padding:10px;
gap:10px;

}

.categorias button{

background:#eee;
border:none;
padding:8px 15px;
border-radius:20px;

}

.lista{

display:grid;
gap:10px;
padding:10px;

}

.card{

background:white;
border-radius:10px;
padding:10px;
display:flex;
justify-content:space-between;
box-shadow:0 2px 6px rgba(0,0,0,0.1);

}

.preco{

color:#ea1d2c;
font-weight:bold;

}

.cart-btn{

position:fixed;
bottom:20px;
right:20px;
background:#ea1d2c;
color:white;
padding:15px;
border-radius:30px;

}

.carrinho{

position:fixed;
right:-400px;
top:0;
width:350px;
height:100%;
background:white;
padding:20px;
overflow:auto;
transition:0.4s;

}

.carrinho.ativo{

right:0;

}

.finalizar{

width:100%;
background:#ea1d2c;
color:white;
padding:15px;
border:none;
margin-top:10px;

}